<p>
  <strong>Keywords:</strong>
  <%= @request.keywords %>
</p>
<p>
<table>
<strong>Results:</strong>
<% @responses.each do |response| %>
    <tr>
      <td><%= response %></td>
    </tr>
  <% end %>
  </table>
</p>
